{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'add_post' %}" class="btn btm-sm btn-warning">Создать запись</a>
{% endif %}




<h1>Стена</h1>
        <ul class="list-group">
            {% for post in posts %}
                 <li class="list-group-item">
                     <p><a href="{% url 'post_detail' post.pk %}">{{ post.content|truncatewords:50 }}</a></p>
                     <small>Автор: {{ post.author.email }} | Просмотров {{post.views}} | Дата создания {{post.created_at}}</small>
                 </li>
            {% empty %}
                <li class="list-group-item">Нет постов</li>

            {% endfor %}
        </ul>
{% endblock %}